.model {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.model[data-loaded='true'] {
    opacity: 1;
}

.canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}